<div class="movie-card">
    <div class="movie-poster">
        <img *ngIf="!poster_path" src='../../../assets/no-movie-poster.jpg' alt="No Poster" />
        <img *ngIf="poster_path" src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt={{title}} />            
    </div>
    <div class="movie-info">
        <p class="movie-title">{{title}}</p>
        <p><b>Release Date: </b>{{release_date}}</p>
        <p><b>Rating: </b>{{vote_average}}</p>
        <p class="movie-overview"><b>Overview: </b>{{overview}}</p>
    </div>
         
</div>
